body{
    background-image: url('practical.jpeg');
}
image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
span{
    display:inline-block
}
h1{
    font-size: 55px;
    font-weight: bolder;
}
ul li{
    padding:0.5em;
}